<div class="walkThrough">

	<h3 id="aboutHead" class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s"><a href="#/"><i class="fa fa-angle-double-left wow fadeInRight" data-wow-delay="1s"></i>HOME</a></h3>


	<div class="tut container">
		<div class="heading">
			<h1 class="wow fadeIn" data-wow-durations="3s">COOP</h1>
			<p>html/css | bootstrap | javascript | angularjs | nodeJs | express | google maps api</p>
		</div>
		<br>
		<div class="steps">
			<p>This was my very first full stack application.  I have friends in the city who own chicken coops & always have extra eggs. COOP lets people find and connect with backyard chicken coops in their area so they can get fresh, local eggs.  People with coops can also list & manage their coops.  I love anything that encourages people (who are already neighbors!), to connect & build a community where everyone can source + benefit.</p><br>

			<br>

			<img src="images/screen/coop.jpg"><br>
			<p>Landing Page -  where users can sign in / sign up</p><br>

			<img src="images/screen/coop2.jpg"><br>
			<p>Sign in /  Sign up page</p><br>

			<img src="images/screen/coop1.jpg"><br>
			<p>Users can also list their coop & fill out details</p><br>

			<img src="images/screen/coop3.jpg"><br>
			<p>Once signed in or listed, the user can see a map with all available coops in their area / the coop just listed.</p>

		</div>
	</div>

	<h3 id="projectHead" class="right wow fadeIn" data-wow-duration="2s"><a href="#/gmShop">GOLDMORNING SHOP</a><i class="fa fa-angle-double-right wow fadeInLeft" data-wow-delay="1s"></i></h3>

</div>
