<div class="walkThrough">

	<h3 id="aboutHead" class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s"><a href="#/"><i class="fa fa-angle-double-left wow fadeInRight" data-wow-delay="1s"></i>HOME</a></h3>


	<div class="tut container">
		<div class="heading">
			<h1 class="wow fadeIn" data-wow-durations="3s">THE COWSHARE</h1>
			<p>html/css | squarespace | mailchimp | photoshop</p>
		</div>
		<br>
		<div class="steps">
			<p>This was my first paid, freelance design + UX/UI project commissioned by a startup called The Cowshare.  I taught myself the developer side of SquareSpace in order to manipulate & customize a template they had chosen.  The project also included designing a few custom email templates using MailChimp (shown below) with a custom logo, which helped me learn the developer side of the service.  The last part of the project was a Facebook cover photo which used a similar custom logo.</p><br>
			<p>You can visit <a target="_blank" href="http://thecowshare.com">The Cowshare</a> to see the site.</p>

			<br>

			<p>The project included 4 email templates.</p><br>

			<div class="row">
				<div class="col l6 s12">
					<img src="/images/screen/cs4.jpg" style="width:600px">
				</div>
				<div class="col l6 s12">
					<img src="/images/screen/cs5.jpg" style="width:600px"><br>
				</div>
			</div>
			<p>Welcome email - when users sign up through their website.</p><br>

			<div class="row">
				<div class="col l6 s12">
					<img src="/images/screen/cs.jpg" style="width:600px">
				</div>
				<div class="col l6 s12">
					<img src="/images/screen/cs1.jpg" style="width:600px"><br>
				</div>
			</div>
			<p>Order Confirmation email - when users submit an order through their website.</p><br>

			<img src="/images/screen/cs2.jpg"><br>
			<p>A monthly newsletter option with the custom logo.</p><br>

			<img src="/images/screen/cs3.jpg"><br>
			<p>Another monthly newsletter option with a second custom logo.</p><br>

			<div class="row">
				<div class="col l6 s12">
					<img src="/images/screen/cowDAY.jpg" style="width:500px">
				</div>
				<div class="col l6 s12">
					<img src="/images/screen/cowNight.jpg" style="width:500px"><br>
				</div>
			</div>
			<p>Modified custom logos for the Facebook cover photos.</p><br>

		</div>
	</div>

	<h3 id="projectHead" class="right wow fadeIn" data-wow-duration="2s"><a target="_blank" href="images/resume2.pdf">RESUME</a><i class="fa fa-angle-double-right wow fadeInLeft" data-wow-delay="1s"></i></h3>

</div>