<div class="walkThrough">

	<h3 id="aboutHead" class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s"><i class="fa fa-angle-double-left wow fadeInRight" data-wow-delay="1s"></i><a href="#/">BACK</a></h3>


	<div class="tut container">
		<div class="heading">
			<h1>GOLDMORNING SHOP</h1>
			<p>html/css | materialize | javascript | angularJs | NodeJs | Express | MongoDb | s3</p>
		</div>
		<br>
		<div class="steps">
			<p>Myself and a team of 5 others built this site for a client based in Florida who was looking to transition to an online space.  She runs an e-commerce store selling a small selection of handpicked clothing and was doing all of her transactions through Instagram and PayPal.  We built a fully-functioning online store + Admin side with a custom built cart, responsive design, PayPal integrated checkouts, improved user experience, and automated inventory management.  My primary responsibility on the team was the design of both User & Admin sides, UX/UI, and Front End development. </p><br>

			<br>

			<img src="/images/screen/003.jpg"><br>
			<p>Landing Page - all of the arrows SmoothScroll down to a fixed location.</p><br>

			<img src="/images/screen/004.jpg"><br>
			<p>The fixed navigation bar allows the user to filter through product categories.  There is also a Quick Shop feature on hover of all product images.  Most users would be coming from mobile already knowing what they want, so we implemented a one-click add-to-bag design.</p><br>

			<img src="/images/screen/005.jpg"><br>
			<p>Because she only carries small quantities of products, we implemented a WaitList feature that lets users who are interested in seeing an item come back to sign up with their email.  This also lets the client see how popular an item is and whether or not it would be profitable to restock it.</p><br>

			<img src="/images/screen/006.jpg"><br>
			<p>Users can view / edit their shopping bag in a pop-up modal and go to checkout.</p><br>

			<img src="/images/screen/012.jpg"><br>
			<p>At Checkout the user can checkout as a guest or with PayPal, all transactions are routed through PayPal regardless.</p><br>

			<img src="/images/screen/013.jpg"><br>
			<p>Checkout as a guest.</p><br>

		</div>
	</div>

	<h3 id="projectHead" class="right wow fadeIn" data-wow-duration="2s"><a href="#/gmShop">GOLDMORNING SHOP</a><i class="fa fa-angle-double-right wow fadeInLeft" data-wow-delay="1s"></i></h3>

</div>