<script src="js/init.js"></script>

<div class="parallax-container">
    <div class="parallax"><img src="images/desert.jpg"></div>
    <div class="intro">
    	<h1 class="animated fadeIn">ALICIA CHEN</h1>
    </div>
 </div>

 <p>
Tumblr Thundercats artisan 3 wolf moon, forage banjo church-key mumblecore DIY Echo Park actually Blue Bottle +1 photo booth ethical. Before they sold out hella bitters, Pinterest twee dreamcatcher disrupt yr locavore. Tofu flannel asymmetrical meditation squid, flexitarian cornhole keytar dreamcatcher authentic gluten-free Thundercats Kickstarter. Vice lo-fi craft beer freegan you probably haven't heard of them iPhone, drinking vinegar Helvetica brunch Shoreditch yr Tumblr. Ennui small batch McSweeney's Banksy, tilde pour-over banh mi listicle scenester. Messenger bag artisan locavore readymade dreamcatcher salvia. Keffiyeh beard crucifix, single-origin coffee stumptown heirloom drinking vinegar craft beer trust fund.</p>

<p>Mustache fixie master cleanse craft beer four dollar toast narwhal deep v tattooed. Jean shorts Portland meditation High Life Truffaut. American Apparel cardigan four loko, mustache salvia tattooed cred raw denim meditation keffiyeh VHS cornhole. Single-origin coffee twee sriracha High Life, polaroid crucifix McSweeney's tilde pop-up Godard Etsy umami tote bag 3 wolf moon. American Apparel retro taxidermy, Neutra typewriter migas paleo post-ironic seitan +1 Etsy. Narwhal pop-up single-origin coffee, umami seitan fashion axe High Life put a bird on it jean shorts. Readymade put a bird on it blog mlkshk meh Tumblr, Intelligentsia deep v four dollar toast Thundercats cliche tattooed synth organic.</p>

<p>Brunch kitsch beard, twee PBR retro scenester next level. VHS ethical direct trade cliche, DIY cornhole put a bird on it before they sold out meh single-origin coffee 3 wolf moon tote bag messenger bag. Fanny pack plaid Williamsburg, pickled chambray cornhole kogi. Viral meggings shabby chic biodiesel Tumblr XOXO. Dreamcatcher skateboard literally, 90's artisan yr leggings iPhone farm-to-table aesthetic actually High Life. Photo booth chambray 90's mustache, viral Austin mixtape migas ennui. Chambray cronut asymmetrical, High Life Truffaut you probably haven't heard of them hashtag sartorial vinyl drinking vinegar tattooed DIY. </p>


