<script src="js/init.js"></script>

<!-- hero landing -->
<div class="parallax-container">
    <div class="parallax"><img src="images/desert.jpg"></div>
    <div class="intro">
    	<p class="wow fadeIn" data-wow-duration="3s">A L I C I A<span class="wow fadeIn" data-wow-duration="2s" data-wow-delay="1s"> CHEN</span></p>
    	<h5 class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="2s">FULL STACK WEB DEVELOPER |
    	PARK CITY, UTAH
    	</h5>
    </div>
 </div>

<!-- end hero landing -->

<!-- nav bar -->

<nav id="nav">
    <div class="nav-wrapper">
        <a href="#/" class="brand-logo">A C</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons" style="color: #424242">list</i></a>
        <ul id="nav-mobile" class="table-of-contents hide-on-med-and-down container">
            <li><a href="#projects">PROJECTS</a></li>
            <li><a href="#about">ABOUT</a></li>
            <li><a href="#contact">CONTACT</a></li>
        </ul>
        <!-- Navbar Collapses for Mobile -->
        <ul class="side-nav" id="mobile-demo">
            <li><a href="#/">PROJECTS</a></li>
            <li><a href="#/">ABOUT</a></li>
            <li><a href="#/">CONTACT</a></li>
        </ul>
    </div>
</nav>

<!-- end nav bar -->

<!-- projects -->

<div class="project">
	<h1 id="projectHead" class="wow fadeIn" data-wow-duration="2s">PROJECTS<i class="fa fa-angle-double-right wow fadeInLeft" data-wow-delay="1s"></i></h1>


	<div class="container projects">
		<div class="section scrollspy" id="projects">
			<div class="row">
				<div class="col l6 s12">
					<img src="images/desert.jpg" style="width: 500px">
				</div>
				<div class="col l6 s12">
					<img src="images/desert.jpg" style="width: 500px">
				</div>
			</div>

		</div>
	</div>
</div>

<!-- end projects -->

<!-- about -->

<div class="aboutInfo">
	<h1 id="aboutHead" class="right-align wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s"><i class="fa fa-angle-double-left wow fadeInRight" data-wow-delay="1s"></i>ABOUT</h1>

	<div class="container aboutMe">
		<div class="section scrollspy" id="about">
			<div class="row">
				<div class="col l3">
					<img src="images/me.jpg" style="width: 200px">
				</div>
				<div class="col l9">
					A proud Utah local always looking for my next creative experience.  Interested in learning and building incredible things that look just as good as they function. Interests: the next idea, travel, blogs/podcasts, baking, the outdoors, motorcycles, & a cup of strong, black coffee. 
				</div>
			</div>
		</div>
	</div>
</div>





<!-- end about -->



