<script src="js/init.js"></script>

<!-- hero landing -->
<div class="parallax-container">
    <div class="parallax"><img src="images/desert.jpg"></div>
    <div class="intro">
    	<div class="logo wow fadeIn" data-wow-duration="3s"><img src="images/nu.png"></div>
    	<h5 class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">FULL STACK WEB DEVELOPER |
    	PARK CITY, UTAH
    	</h5>
    </div>
 </div>

<!-- end hero landing -->

<!-- nav bar -->

<nav id="nav">
    <div class="nav-wrapper">
        <a href="/#/" class="brand-logo"><img src="images/mtns.png"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons" style="color: #424242">list</i></a>
        <ul id="nav-mobile" class="table-of-contents hide-on-med-and-down container">
            <li><a href="#projects">PROJECTS</a></li>
            <li><a href="#about">ABOUT</a></li>
            <li><a href="#contact">CONTACT</a></li>
            <li><a target="_blank" href="images/resume2.pdf">RESUME</a></li>
        </ul>
        <!-- Navbar Collapses for Mobile -->
        <ul class="side-nav" id="mobile-demo">
            <li><a href="#projects">PROJECTS</a></li>
            <li><a href="#about">ABOUT</a></li>
            <li><a href="#contact">CONTACT</a></li>
        </ul>
    </div>
</nav>

<!-- end nav bar -->

<!-- projects -->

<div class="project">

	<h1 id="projectHead" class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s">PROJECTS<i class="fa fa-angle-double-right wow fadeInLeft" data-wow-delay="1s"></i></h1>

	<div class="container projects">
		<div class="section scrollspy" id="projects">
			<div class="row">
				<ul class="grid descript-style">
					<li class="col l6 m8 s12">
						<figure>
							<img src="images/coop.jpg">
							<figcaption>
								<a class="seeMore" href="#/coop"><h4>COOP</h4>
								<span>html/css | bootstrap | javascript | angularjs | nodeJs | express | google maps api</span></a>
							</figcaption>
						</figure>
					</li>
					<li class="col l6 m8 s12">
						<figure>
							<img src="images/stripes.jpg">
							<figcaption>
								<a class="seeMore" href="#/gmShop">
								<h4>goldmorning shop</h4>
								<span>html/css | materialize | jquery | javascript | angularJs | NodeJs | Express | MongoDb | s3</span></a>
							</figcaption>
						</figure>
					</li>
					<li class="col l6 m8 s12">
						<figure>
							<img src="images/ranch.jpg">
							<figcaption>
								<a class="seeMore" href="#/cowShare">
								<h4>cowshare</h4>
								<span>html/css | squarespace | mailchimp | photoshop</span></a>
							</figcaption>
						</figure>
					</li>
					<li class="col l6 m8 s12">
						<figure>
							<img src="images/next.jpg">
							<figcaption>
								<a class="seeMore" href="#contact">
								<h4>your project here</h4>
								<span>full stack | design | ux/ui | something new</span></a>
							</figcaption>
						</figure>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- end projects -->

<!-- about -->

<div class="aboutInfo">
	<div class="section scrollspy" id="about">
	
		<h1 id="aboutHead" class="right-align wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s"><i class="fa fa-angle-double-left wow fadeInRight" data-wow-delay="1s"></i>ABOUT</h1>
	
	</div>

	<div class="container aboutMe">
		<div class="row">
			<div class="selfie col s12">
				<img class="circle responsive-img" src="images/me.jpg" style="width: 300px">
			</div>
			<div class="col s12"><br>
				<p><span class="introMe">hello, my name is alicia </span><i class="fa fa-angle-double-right"></i> I'm a proud Utah local always looking for my next creative experience.  A recent discovery of code led me to immerse myself in it for <a href="https://devmounta.in" target="_blank">three straight months</a> - haven't looked back since.  I am passionate about learning and building incredible things that look just as good as they function. Outside interests: the next idea, doing new things, travel, blogs+podcasts, baking, the outdoors, motorcycles, & a cup of strong, black coffee. </p>
			</div>
		</div>
	</div>
</div>


<!-- end about -->

<!-- start contact -->
<div class="contact section scrollspy" id="contact">
	<div class="container">
		<h1 id="contactHead" class="wow fadeIn" data-wow-duration="4s" data-wow-delay="0.5s">LET'S TALK<i class="fa fa-angle-double-right wow fadeInLeft" data-wow-delay="1s"></i></h1>

		<div class="row phone">
			<a class="col l12" href="tel:801-915-9898">801.915.9898</a>
		</div>
		
		<div class="row social">
			<a class="col l1 m6 s12 offset-l2" href="mailto:toyblox@gmail.com">
				<i class="fa fa-4x fa-envelope-o"></i>
			</a>
			<a class="col l1 m6 s12 offset-l2" target="_blank" href="https://linkedin.com/in/toyblox">
				<i class="fa fa-linkedin fa-4x"></i>
			</a>
			<a class="col l1 m6 s12 offset-l2" target="_blank" href="https://github.com/toyblox">
				<i class="fa fa-github-alt fa-4x"></i>
			</a>
			<a class="col l1 m6 s12 offset-l2" target="_blank" href="https://instagram.com/toyblox/">
				<i class="fa fa-instagram fa-4x"></i>
			</a>
		</div>
	</div>
</div>

<!-- end contact -->

<div class="footer-copyright">
	<div class="container">
		© 2015 ALICIA CHEN <span class="right"> HEADER & PROJECT IMAGES: <a class="grey-text" target="_blank" href="https://stocksnap.io">STOCKSNAP</a></span>
	</div>
</div>



